/*
body {
  background-color: aqua;
}
*/

* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}
 .push {
    height: 142px; /* .push must be the same height as .footer */
}



#footer-content{
text-align: center;
  margin-top: 100px;
}

#jumbotron-title{
  text-align: center;
}
.game-title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 60px;
}

#nintendo-logo{
  margin-bottom: 10px;
}

.restart-button-area{
  text-align: center;
  margin-top: 50px;
}